<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
    <section name="Lephone.Settings" type="Lephone.Util.Setting.NameValueSectionHandler, Lephone.Util"/>
  </configSections>

  <connectionStrings>
    <add name="HuashanEms" connectionString="Data Source=(local); Database=HuashanEms; Integrated Security=true;"/>
  </connectionStrings>

  <SubSonicService defaultProvider="HuashanEms">
    <providers>
      <clear/>
      <add name="HuashanEms" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="HuashanEms" generatedNamespace="TDAccessControl.DAL"/>
    </providers>
  </SubSonicService>

  <Lephone.Settings>
    <add key="AutoCreateTable" value="true"/>
    <add key="DataBase" value="@SqlServer2000 : data source=(local);initial catalog=HSEMS; Integrated Security=true;"/>
  </Lephone.Settings>
 
</configuration>
